<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.multids.mapper.icp.IcpMapper">

    <select id="selectAll" resultType="java.lang.Object">
       select * from  IP_BA_BM.IP_CODE_UNIT_NATURE_T
    </select>

</mapper>